<h1 class="text-success">Progetto</h1>

 <input type="text"class="form-controll w-auto" placeholder=" FILTRA PER NOME" #filtro (input)="filtraPerNome(filtro.value)">

 <input type="text"class="form-controll w-auto" placeholder=" FILTRA PER COGNOME" #filtroCognome (input)="filtraPerCognome(filtroCognome.value)">

 <input type="text"class="form-controll w-auto" placeholder=" FILTRA PER ANNI" #filtro (input)="filtraPerAnni(filtro.value)">
 


<h4 class="mt-5">Tabella Utenti</h4>

<table>
  <tr>
    <th>NOME</th>
    <th>COGNOME</th>
    <th>ANNI</th>
    <th>AZIONI</th>
  </tr>
<tr *ngFor="let ut of utenti">
    <td>{{ut.nome}}</td>
    <td>{{ut.cognome}}</td>
    <td>{{ut.anni}}</td>
    <td>
      <button class="btn btn-success" (click)="apriDettaglioUtente(ut)">Vedi Dettaglio </button>
    </td>
  </tr>


  <table>
    <tr>
      <th>ID</th>
      <th>CODICE</th>
      <th>DESCRIZIONE</th>
      
    </tr>
  <tr *ngFor="let ut of arrayListaServer">
      <td>{{ut.fattureIpaId}}</td>
      <td>{{ut.codice}}</td>
      <td>{{ut.denominazione}}</td>
    </tr>
  
  
  
</table> 

<ng-template #modalDettaglio>
  <div>
    <h5>DETTAGLIO UTENTE</h5> 
  </div>

  <div class="modal-body">
    <ul>
      <li>
        <strong>Nome:</strong>  {{dettaglioUtente.nome}}
      </li>
      <li>
        <strong>Cognome:</strong> {{dettaglioUtente.cognome}}
      </li>
      <li>
        <strong>anni:</strong> {{dettaglioUtente.anni}}
      </li>
      <li>
        <strong>citta:</strong> {{dettaglioUtente.citta}}
      </li>
      <li>
        <strong>coloreCapelli:</strong> {{dettaglioUtente.coloreCapelli}}
      
      </li>
      <li>
        <strong>codicefiscale:</strong> {{dettaglioUtente.codicefiscale}}
      </li>
    </ul>

  </div>
</ng-template>
<ng-template #modalInserimento>
  <div class="modal-header">
    <h5>NUOVO UTENTE</h5> 
  </div>

  <div class="modal-body">
    <form [formGroup]="formInserimento">

      <input type="text" placeholder="nome" formControlName="nome" class="me-3"> 
      <input type="text" placeholder="cognome" formControlName="cognome" class="me-3"> 
      <input type="text" placeholder="anni" formControlName="anni" class="me-3"> 
      <input type="text" placeholder="citta" formControlName="citta" class="me-3"> 
      <input type="text" placeholder="coloreCapelli" formControlName="coloreCapelli" class="me-3"> 
      <input type="text" placeholder="codicefiscale" formControlName="codicefiscale" class="me-3"> 
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="SalvaDati()">salva dati</button>
  </div>
</ng-template>